* {
    box-sizing: border-box;
}

body {
    background-color: hsl(217, 54%, 11%);
    color: hsl(0, 0%, 100%);
    font-family: Outfit, 'Times New Roman', Times, serif;
    font-weight: 300;
    padding: 100px;
}

P {
    font-size: 18px;
}

.main {
    background-color: hsl(216, 50%, 16%);
    width: 24%;
    margin: auto;
    border-radius: 20px;
    padding: 20px 10px;
}

.equilibrum {
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}

.equilibrum:hover {
    background-image: url('./images/icon-view.svg');
    cursor: pointer;
}

h3 {
    font-weight: 600;
}

h3:hover {
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}

hr {
    border: 1px solid hsl(215, 32%, 27%);
}

.time {
    float: right;
    position: relative;
}

.quantity {
    color: hsl(178, 100%, 50%);
    font-weight: 400;
}

.name:hover {
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}

.pic {
    width: 10%;
    border: 1px solid white;
    border-radius: 50%;
}